@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-canvas: #0B132B;
  --color-surface: #1C2541;
  --color-border: #3A506B;
  --color-text-primary: #F4EFDF;
  --color-text-secondary: #8A9EA7;
  --color-brand: #D5B370;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-canvas);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100dvh;
  }
}
